@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;

@model CaucasianPearl.Models.EDM.Event

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.EventDeleting, ViewRes.ProjectTitleShort); }

<p>
    @Html.ActionLink(ViewRes.Cancel,
        actionName: Consts.Actions.GetByShortName,
        routeValues: new
        {
            shortname = Model.ShortName,
            page = Request.QueryString["page"]
        },
        htmlAttributes: new { @class = "link" }
    )
</p>

<br />

@using (Html.BeginForm()) {
    <input type="submit" value="@ViewRes.Delete" /> @:|
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
}