@using CaucasianPearl.Core.Constants
@using Resources.Shared

@{
    ViewBag.Title = string.Format("{0} | {1}", SharedErrorRes.DeleteForbidden, Consts.Title);
}

<h2 style="color: Red">@SharedErrorRes.DeleteForbidden</h2>
<br />
<a href="@Consts.RootPath">@SharedViewRes.BackToHomePage</a>
