@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Utilities
@using CaucasianPearl.Resources;

@{
    ViewBag.Title = string.Format("{0} | {1}", ErrorRes.NotAuthorized, Consts.Title);
}

<h2 style="color: Red">@ErrorRes.NotAuthorized</h2>
<br />
@Html.ActionLink(ViewRes.Authorize, Consts.Controllers.Account.Actions.Login, Consts.Controllers.Account.Name, new { ReturnUrl = Utility.GetReturnUrl }, null)
<br />
<br />
<a href="@Consts.Paths.RootPath">@ViewRes.BackToHomePage</a>