@using CaucasianPearl.Core.Constants
@using Resources

@{
    ViewBag.Title = string.Format("{0} | {1}", ErrorRes.NotAuthorized, Consts.Title);
}

<h2 style="color: Red">@ErrorRes.NotAuthorized</h2>
<br />
<a href="/account/login">@ViewRes.Authorize</a>
<br />
<br />
<a href="@Consts.RootPath">@ViewRes.BackToHomePage</a>
