@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;

@{
    ViewBag.Title = string.Format("{0} | {1}", ErrorRes.NotFound, Consts.Title);
}

<h2 style="color: Red">@ErrorRes.NotFound</h2>
<br />
<a href="@Consts.Paths.RootPath">@ViewRes.BackToHomePage</a>
