@using CaucasianPearl.Core.Constants
@using Resources

@{
    ViewBag.Title = string.Format("{0} | {1}", ErrorRes.UnexpectedError, Consts.Title);
}

<h2 style="color: Red">@ErrorRes.UnexpectedError</h2>
<br />
<a href="@Consts.RootPath">@ViewRes.BackToHomePage</a>
