@using CaucasianPearl
@using CaucasianPearl.Core.Constants
@using Resources.Shared

@{
    ViewBag.Title = string.Format("{0} | {1}", SharedViewRes.Thanks, Consts.Title);
}

<h2 style="color: Red">@SharedViewRes.ThankYouWeWillCertainlyContactYou</h2>

<a href="@Consts.RootPath">@SharedViewRes.BackToHomePage</a>