@using CaucasianPearl
@using CaucasianPearl.Core.Constants
@using Resources

@{
    ViewBag.Title = string.Format("{0} | {1}", ViewRes.Thanks, Consts.Title);
}

<h2 style="color: Red">@ViewRes.ThankYouWeWillCertainlyContactYou</h2>

<a href="@Consts.RootPath">@ViewRes.BackToHomePage</a>
