@using CaucasianPearl;
@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.UserControls
     
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>

<div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="none" data-yashareQuickServices="odnoklassniki,vkontakte,facebook"></div>

<style>
    .yashare-auto-init {
        text-align: right;
    }
    .b-share-icon {
        cursor: pointer;
        display: inline-block;
        height: 40px;
        width: 40px;
        overflow: hidden;
        padding: 0 !important;
        vertical-align: top;
        background: url(/content/img/site/social-share.png) 0 0 no-repeat
    }

    .b-share-icon_odnoklassniki {
        background-position: 0 0;
    }
    .b-share-icon_odnoklassniki:hover {
        background-position: 0 -40px;
    }
    .b-share-icon_vkontakte {
        background-position: -40px 0;
    }
    .b-share-icon_vkontakte:hover {
        background-position: -40px -40px;
    }
    .b-share-icon_facebook {
        background-position: -80px 0;
    }
    .b-share-icon_facebook:hover {
        background-position: -80px -40px;
    }
</style>

@*<script type="text/javascript">
    // создаем блок
    var YaShareInstance = new Ya.share({
        element: 'ya_share',
        onready: function (instance) {
            // в обработчик onready приходит тот же экземпляр блока,
            // что возвращается из конструктора,
            // т.е. instance === YaShareInstance

                instance.updateShareLink(
                    'http://www.caucasian-pearl.ru/about/',
                    'title',
                    // В метод также можно передать serviceSpecific-блок
                    // В данном примере переопределяются все ссылки в Twitter
                    {
                        odnoklassniki: {
                            title: 'title: odnoklassniki',
                            description: 'description: odnoklassniki',
                            image: 'http://www.newayseurasia.com/assets/images/s/13.09.2011_seti/o.jpg'
                        },
                        vkontakte: {
                            title: 'title: vkontakte',
                            description: 'description: vkontakte',
                            image: 'http://www.showmehow.ru/img/social/vkontakte.png'
                        },
                        facebook: {
                            title: 'title: facebook',
                            description: 'description: facebook',
                            image: 'http://www.ruprom.ru/templates/images/fb_ico.png'
                        }
                    }
                );
        }
    });
    
    // Блок еще не проинициализировался, поэтому ничего не произойдет
    YaShareInstance.updateShareLink('http://api.yandex.ru', 'API');
</script>*@

@*<div id="ya_share"></div>*@