@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.DAL.Data
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Models
@using CaucasianPearl.Resources;

@model IEnumerable<EventItemInfo>

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.ProjectTitleShort, ViewRes.Index); }

@* проверяем режим: события/обложка *@
@if (ViewBag.HomePageMode == SiteSettingsHelper.HomePageMode.Events && Model != null) {
    @Html.Partial(Consts.Paths.UserControls.EventsControl, ViewBag.Events as IEnumerable<EventItemInfo>)
} else {
    @* первый текст *@
    <div class="home_page_text">
        @Html.Raw(Html.PlaceHolder("home_page_text"))
    </div>
    <img src='@ViewBag.CoverImagePath' alt="@ViewRes.Cover" />
}