@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Core.DAL.Data
@using CaucasianPearl.Core.Helpers.HtmlHelpers
@using CaucasianPearl.Core.Helpers
@using CaucasianPearl.Core.UserControls
@using CaucasianPearl.Models
@using Resources.Shared

@{
    ViewBag.Title = SharedRes.ProjectTitle;
}

@model IEnumerable<EventItemInfo>

@* проверяем режим: события/обложка *@
@if (ViewBag.HomePageMode == SiteSettingsHelper.HomePageMode.Events && Model != null) {
    { Html.RenderPartial("~/Views/Event/GetHomePageEvents.cshtml", Model); }
} else {
    <img src='@ViewBag.CoverImagePath' alt="Обложка" />
}

@* форма заявки *@
@Html.Partial(Consts.UserControlsPaths.RequestFormControl, new ViewDataDictionary { { "elementId", "#sendRequest" } })

<input id="sendRequest" type="button" value="Оставить заявку на выступление" />

@*
    аудиоплеер
    <div class="player" @* style="display: none;"
        <object id="audioplayer361" type="application/x-shockwave-flash" data="http://caucasianpearl/content/audioplayer/player/uppod.swf" width="350" height="50">
            <param name="bgcolor" value="#ffffff" />
            <param name="allowScriptAccess" value="always" />
            <param name="movie" value="http://caucasianpearl/content/plugins/audioplayer/player/uppod.swf" />
            <param name="flashvars" value="comment=Жемчужина Кавказа&amp;st=http://caucasianpearl/content/plugins/audioplayer/styles/audio164-471.txt&amp;file=http://cs1-26v4.vk.me/p35/6e11d4c8f5d0e2.mp3" />
        </object>
    </div>

    контент блок
    <div class="placeHolder1">
        @Html.Raw(Html.PlaceHolder("placeHolder1"))
    </div>
*@