@model CaucasianPearl.Models.EDM.ContentBlock

@using CaucasianPearl.Core.Constants
@using CaucasianPearl.Resources;

@{ ViewBag.Title = string.Format("{0} | {1}", ViewRes.ContentBlockDeleting, ViewRes.ProjectTitleShort); }

<p>
    @Html.ActionLink(ViewRes.Cancel,
        actionName: Consts.Actions.Details,
        routeValues: new
        {
            id = Model.ID,
            page = Request.QueryString["page"]
        },
        htmlAttributes: new { @class = "link" })
</p>

<br />

@using (Html.BeginForm()) {
    <input type="submit" value="@ViewRes.Delete" /> @:|
    @Html.ActionLink(ViewRes.BackToList, Consts.Actions.Index)
}