@model CaucasianPearl.Models.EDM.Sponsor

@using CaucasianPearl.Core.Constants
@using Resources

@{
    ViewBag.Title = string.Format("{0} | {1}", ViewRes.SponsorCreating, Consts.Title);
}

<p>
    @Html.ActionLink(
        ViewRes.Cancel,
        actionName: Consts.Actions.Details,
        routeValues: new
        {
            id = Model.ID,
            page = Request.QueryString["page"]
        },
        htmlAttributes: new { @class = "link" })
</p>

<h2 style="color: Red">@ViewRes.AreYouSureThatYouWantDeleteThisSponsor</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="@ViewRes.Delete" />
}