@using CaucasianPearl.Core.Constants

<style type="text/css">
    .cover_image {
        display: inline;
        position: relative;
    }
    .cover_image:hover {
        background-color: rgb(183, 183, 107);
        cursor: pointer;
    }
    .cover_image img {
        height: 140px;
    }
    .delete {
        background: url('/content/img/site/close.gif') no-repeat center center;
        display: block;
        cursor: pointer;
        float: right;
        height: 11px;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 11px;
        z-index: 90;
    }
    .delete:hover {
        background-color: red;
    }
    .fullscreen {
        background: url('/content/img/site/fullscreen.gif') no-repeat center center;
        display: block;
        cursor: pointer;
        float: right;
        height: 16px;
        position: absolute;
        right: 2px;
        top: 121px;
        width: 16px;
        z-index: 90;
    }
    .fullscreen:hover {
        background-color: transparent;
    }
    .main {
        background-color: rgb(183, 183, 107);
    }
</style>

<script type="text/javascript">
    $(document).ready(function () {
        $('.dialog').dialog({
            autoOpen: false,
            modal: true
        });
        
        $('#upload').click(function () {
            if ($('#selectImage').val() == '') {
                alert('Выберите файл');
                return false;
            }
            return true;
        });

        $('.cover_image img').click(function (e) {
            var imageName = $(this).parent('.cover_image').data('imagename');

            $('#set_cover_dialog').dialog({
                buttons: {
                    'Да': function () {
                        setCoverImage(imageName);
                    },
                    'Отмена': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#set_cover_dialog').dialog('open');
        });
        
        $('.delete').click(function (e) {
            e.preventDefault();
            
            if ($(this).parent().is('.cover_image.main')) {
                alert('Нельзя удалить главную обложку!');
                return;
            }
            
            var imageName = $(this).parent('.cover_image').data('imagename');

            $('#delete_image_dialog').dialog({
                show: 'fade',
                hide: 'fade',
                buttons: {
                    'Да': function () {
                        deleteCoverImage(imageName);
                    },
                    'Отмена': function () {
                        $(this).dialog('close');
                    }
                }
            });
            $('#delete_image_dialog').dialog('open');
        });
        
        $('.fullscreen').click(function (e) {
            openInNewTab($(this).parent().find('img').attr('src'));
        });
        
        // сделать обложку главной
        setCoverImage = function (imageName) {
            var options = {
                url: '/sitesettings/setcoverimage',
                type: 'POST',
                data: { imageName: imageName },
                success: function () {
                    closeDialogs();
                    location.reload();
                },
                error: function (request, status, error) { alert(error); }
            };
            ajaxRequest(options);
        };

        // удаление обложки
        deleteCoverImage = function (imageName) {
            var options = {
                url: '/sitesettings/deletecoverimage',
                type: 'POST',
                data: { imageName: imageName },
                success: function () {
                    closeDialogs();
                    location.reload();
                },
                error: function (request, status, error) { alert(error); }
            };
            ajaxRequest(options);
        };
    });
</script>

@using (Html.BeginForm(
    actionName: Consts.Controllers.SiteSettings.Actions.UploadCoverImage,
    controllerName: Consts.Controllers.SiteSettings.Name,
    method: FormMethod.Post,
    htmlAttributes: new
        {
            enctype = "multipart/form-data"
        }))
{
    <h3>Здесь Вы можете выбрать обложку для главной страницы, удалить существующую или загрузить новую</h3>
    
    <table>
        <tr>
            <td>
                <div class="cover_images_block" >
                    @{
                        foreach (var imageName in ViewBag.Images) {
                            <div class="cover_image @(imageName == ViewBag.CoverImageName ? "main" : string.Empty)" data-imagename="@imageName" style="float: left; margin-right: 20px;">
                                <img src='@(Url.Content(Consts.Paths.CoversFolder + imageName))' alt="" />
                                <a class="delete" href="#"></a>
                                <a class="fullscreen" href="#"></a>
                            </div>
                        }
                    }
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div style="float: left; margin-right: 20px;">
                    <h3>Выбрать новую обложку</h3>
                    <input id="selectImage" type="file" name="imagefile" />
                    <br />
                    <input id="upload" type="submit" value="Загрузить" />
                </div>
            </td>
        </tr>
    </table>
}

<div id="set_cover_dialog" class="dialog" title="Подтверждение">
    Сделать главной?
</div>

<div id="delete_image_dialog" class="dialog" title="Подтверждение">
    Вы уверены, что хотите удалить эту обложку?
</div>